doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet' href='/stylesheets/base.css')
    body
        img(
            class="M-D-S"
            src="/images/m-d-s.jpg")