doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/base.css')
    body
        img(
            class="M-D-S"
            src="https://riverxin.cn/static/image/2019/08/29/fdd36b8b68219c1c94b0cc71659cf56a.jpg")