doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet' href='/stylesheets/base.css')
    block links
  body
    block content
